[Desktop Entry]
Version=1.0
Type=Application
Name=Update WiFi Optimizer
Comment=Manually choose and install a WiFi Optimizer version
Exec=konsole --hold -e __HELPER_PATH__
Icon=network-wireless
Terminal=false
Categories=System;Network;
StartupNotify=true
